.dashboardLayout {
  // ---------------
  .ant-select-selector {
    font-family: $fontFamily;
  }
  .ant-tabs {
    font-family: $fontFamily;
    &.ant-tabs-card {
      position: relative;
      .ant-tabs-nav {
        margin: 0 0 0 25px;
        &::before {
          border-bottom: none;
        }
        .ant-tabs-nav-wrap {
          .ant-tabs-nav-list {
            display: flex;
            gap: 10px;
            .ant-tabs-tab {
              background: $colorWhite;
              border: 1px solid $dashboardBorderColorControl;
              border-radius: 20px 20px 0 0;
              font-size: $fontSize16;
              padding: 10px 35px;
              border-bottom: none;
              &.ant-tabs-tab-active {
                background: $colorTabActive;
                border: 1px solid $dashboardBorderColor;
                border-bottom: none;
                .ant-tabs-tab-btn {
                  color: $colorPrimary;
                }
              }
              &:hover {
                .ant-tabs-tab-btn {
                  // color: $colorPrimary;
                }
              }
              .tabsIconGrid {
                display: flex;
                align-items: center;
                .anticon {
                  margin-right: 8px;
                }
              }
              .tabComplete {
                color: #34781b;
              }
            }
          }
        }
      }
    }
    .dashboardFormFullHeight {
      // height: calc(100vh - 150px);
    }
  }
  .ant-tree {
    font-weight: 500;
    .ant-tree-treenode {
      align-items: center;
      .ant-tree-switcher {
        line-height: normal;
        .ant-tree-switcher-icon,
        .ant-select-tree-switcher-icon {
          font-size: 13px;
          color: $colorPrimary;
        }
      }
      .ant-tree-checkbox {
        margin: 0 8px 0 0;
      }
    }
  }
  .permissionManager {
    .ant-tree-checkbox-inner {
      border: 1px solid $colorPrimary;
    }
    .ant-tree-checkbox-checked {
      .ant-tree-checkbox-inner {
        background-color: $colorPrimary;
      }
    }
  }
  .productBtnTypeGroup {
    label {
      &.ant-radio-button-wrapper-checked {
        background: $colorPrimary !important;
        border-color: $colorPrimary !important;
        color: $colorWhite !important;
      }
    }
  }
  .ant-pagination {
    .ant-pagination-prev,
    .ant-pagination-next {
      .ant-pagination-item-link {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
// ============ responsive ============
@media (max-width: 1600px) {
  .dashboardLayout {
    .ant-tabs {
      &.ant-tabs-card {
        .ant-tabs-nav {
          margin: 0 0 0 15px;
          .ant-tabs-nav-wrap {
            .ant-tabs-nav-list {
              gap: 5px;
              .ant-tabs-tab {
                border-radius: 6px 6px 0 0;
                font-size: $fontSize14;
                padding: 6px 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .dashboardLayout {
    .ant-result {
      padding: 0 0;
      .ant-result-title {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
