// ------------------
$colorPrimary: #3a46b6;
$colorPrimaryLight: #f5f6fe;
$colorPrimaryDark: #232c79;
$colorSecondary: #e1664b;
$colorSecondaryLight: #fff0da;
$colorSecondaryDark: #e38800;
$colorText: #4a4b57;
$colorSubText: #a5a5a5;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorDanger: #ff4d4f;
$colorGray: #eeeeee;
$colorGrayLight: #fcfbfb;
$colorGrayDark: #c0c0c0;
$colorGraniteGray: #5e5e5e;
$colorSilverChalice: #acacac;
$colorLinkBlue: #007bff;
// ------------------
$colorTabActive: #e6effa;
// ------------------
$borderRadius: 6px;
$boxBorderRadius: 10px;
$wrapperBorderRadius: 20px;
$toggleMobileNavBarWidth: 50px;
// ------------------
$dashboardBorderColor: #d2d7ff;
$dashboardBorderColorControl: #d9d9d9;
$dashboardBoxShadow: 7px 3px 17px rgba(0, 0, 0, 0.05);
$dashboardBoxPadding: 30px;
// ------------------
$fontFamily: "Poppins", sans-serif;
// ------------------
$lineHeight: 19px;
// ------------------
$tHeadBgColor: #e6e8fd;
// ------------------
$fontSize24: 24px; // page heading,
$fontSize20: 20px;
$fontSize18: 18px;
$fontSize16: 16px;
$fontSize14: 14px;
$fontSize13: 13px;
$fontSize12: 12px;
// ------------------
